.miniProjects-container{
    height: 25%;
    border:1px solid grey;
    margin-top:0.7rem;
    border-radius:1rem;
    background: linear-gradient(40deg, #f96868, #491c1c);
}

.miniProjects-container>.title {
    font-size: 2.8rem;
    color: rgb(255, 255, 255);
    font-weight: 800;
    font-family: "Lexend", sans-serif;
    margin: 0.4rem 1.6rem;
}