.skills {
    height:59%;
    border:1px solid #CACACA;
    border-radius: 1rem;
    background: linear-gradient(120deg, #191919, #3e3e3e);
    overflow: hidden; /* Add this to hide overflow */
}
.skills>.title{
    font-size: 5rem;
    color: white;
    font-weight: 700;
    font-family: "Lexend", sans-serif;
    margin: 0.9rem 1.2rem;

}
.skills .title::after {
    content: ""; 
    display: block; 
    width: 60%;
    height: 2px; 
    background: transparent; 
    border-bottom: 1px dashed rgb(119, 119, 119); 
    margin: 0.5rem 0.1rem;
}